<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.mb.EmpMapper">

    <select id="getList"
            resultType="com.web.emp.Emp">
        SELECT * FROM emp2
    </select>

    <select id="getEmpByNo"
            resultType="com.web.emp.Emp"
            parameterType="Integer">
        SELECT * FROM emp2 WHERE empno=#{empno}
    </select>

    <update id="updateEmp"
            parameterType="com.web.emp.Emp">
        UPDATE emp2 SET job=#{job}, sal=#{sal} WHERE empno=#{empno}
    </update>

    <delete id="delEmp"
            parameterType="Integer">
        DELETE FROM emp2 WHERE empno=#{empno}
    </delete>

    <insert id="addAndGetKey" useGeneratedKeys="true" keyProperty="empno"
            parameterType="com.web.emp.Emp">  <!-- 파라미터가 map 이어도 가능 -->
        INSERT INTO emp2 (empno, ename, job, sal, hiredate)
        VALUES(empno_seq.NEXTVAL,#{ename},#{job},#{sal}, #{hiredate})
    </insert>

</mapper>
